---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import RobotItem from "../components/RobotItem.astro";
import NewsTimeline from "../components/NewsTimeline.astro";

const robots = (await getCollection("robots")).sort(
    (a, b) => b.data.weight - a.data.weight,
);
---

<Layout title="Robots">
    <div class="max-w-7xl mx-auto px-4 py-12 sm:py-20">
        <div class="max-w-3xl mx-auto text-center mb-10">
            <h1 class="mb-4">
                Robotic Platforms
            </h1>
            <p class="text-lg text-gray-600">
                We have various cool robots available for research.
            </p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mt-20">
            {robots.map((robot) => <RobotItem entry={robot} />)}
        </div>

        <div class="flex justify-around mt-40">
            <NewsTimeline filter="robots" />
        </div>
    </div>
</Layout>
