---
import { getCollection, render } from 'astro:content';
import NewsItem from './NewsItem.astro';

const allNews = (await getCollection('news')).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<div class="border-l-2 border-gray-100 pl-8 space-y-12">
    {allNews.map(item => <NewsItem entry={item} />)}
</div>
