---

---

<div
    class="prose prose-lg prose-blue max-w-none text-gray-700
  prose-h1:font-bold prose-h1:text-xl
  prose-p:text-justify
  prose-img:rounded-xl
  prose-headings:underline"
>
    <slot />
</div>
