---

---

<div
    class="prose prose-lg prose-blue max-w-none text-gray-700
  prose-h1:font-bold prose-h1:text-xl
  prose-a:text-gray-700
  prose-a:no-underline
  prose-a:border-b
  prose-a:border-blue-100
  prose-a:hover:text-blue-600
  prose-p:text-justify
  prose-img:rounded-xl
  prose-headings:underline"
>
    <slot />
</div>
